button.color-button {
  margin-bottom: 3em;
  display: inline-block;
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  margin: 1.66%;
  border-radius: 15%;
  cursor: pointer;
}

button{
    cursor: pointer; 
    font-size: large;
    font-family: Montserrat;
    border: none;
    height:30px;

}

.heading{
    text-align: center;
	line-height: 1.1;
    font-size:larger;
	font-weight: normal;
	color: white;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

.menu-bar{
    background-color: white;
	height: 30px;
	text-align: center;
}

.container{
    margin: 20px auto;
	max-width: 600px;
}
.body{
    background-color: #232323; 
}

button:hover {
    color: white;
    background: steelblue;
}